body {
    display: grid;
    background-color: rgb(255, 235, 119);
}

.card {
    font-size: 24px;
    color: black;
    border: 1px black solid;
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;

    background-color: #7ac2e4;
}

#form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 375px;
    padding: 5px;
    border-radius: 4px;
}

input.valid {
    border: 5px solid green;

}

input.invalid {
    border: 5px solid #900;
    background-color: #fdd;
}
  
input:focus.invalid {
    outline: none;
}

.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

label {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.subtext {
    font-size: 14px;
    margin: 2px;
}

button.deleteBook {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 15px;
}

#addBook {
    width: fit-content;
    margin-top: 5px;
}